<span >

<button ng-click="youTubeFeed()">Refresh</button>
<div class="login-box" ng-show="videos.length === 0" ng-click="authYouTube()" id="view">
    <a class="btn btn-social btn-lg btn-google">
        <span class="fa fa-google"></span> Sign in with Google
    </a>
</div>
<ul ng-repeat="video in videos">
    <li>
        <iframe width="420" height="345" ng-src="{{ video | youtubeEmbedUrl }}"></iframe>
    </li>
</ul>


</video>


<script type="text/javascript" src="http://ytchannelembed.com/ytce-frgallery.js"></script>
<!--
<div style="width:100%;max-width:420px;" class="ytce" data-user="UCGTJszfb2WRK8Aob8_fxLAg" data-rows="3" data-ratio="hd" data-width="130" data-margin="15" data-desc="100" data-desc_color="9E9E9E" data-title="30" data-title_color="000000" data-https="0" data-duration="1" data-views="1" data-likes="1" data-dislikes="1" data-fav="1" data-cols="3" >

</div> -->
</span>
