@font-face {
	font-family: Sandoval;
	src: url(sandoval.ttf);
}

body {
	background-color: #fefbf7;
}

h1 {
  text-align: left;
  font-family: Sandoval;
  font-size: 70px;
  padding: 10px;
  color: #D64933;
}

.appView {
	color: #2B303A;
}

.nav {
	background-color: #92DCE5;
	color: #fefbf7;
	font-style: bold;
	font-family: sans-serif;
}