<div ng-init = "loadContent()">
	<!-- <div class = "login-box" ng-show="photos.length === 0" ng-click="authInstagram()">
		<a class="btn btn-social btn-lg btn-instagram">
  		<span class="fa fa-instagram"></span>Sign in with Instagram
		</a>
	</div> -->
	<span ng-repeat="item in content | orderBy: sortContent" >
    <iframe ng-if="item.link" src="{{item.link | instagramEmbedUrl}}" width="400" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
    <li ng-if="item.user.screen_name" class="posts"><blockquote><p><a href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id_str
    }}">{{ item.text }}</a></p>
    {{ item.created_at | date : "MM-dd-yyyy" }}</blockquote></li>
    <iframe ng-if="item.snippet.publishedAt" width="420" height="345" ng-src="{{ item | youtubeEmbedUrl }}"></iframe>

	</span>
</div>
