
<div>
<button ng-click="sortRandom()" type="button" class="btn btn-primary">
	Shuffle
</button>
</div>
<div class="mixedFeed" ng-init = "getFeeds()">
	<!-- <div class = "login-box" ng-show="photos.length === 0" ng-click="authInstagram()">
		<a class="btn btn-social btn-lg btn-instagram">
  		<span class="fa fa-instagram"></span>Sign in with Instagram
		</a>
	</div> -->

	<span ng-repeat="item in content | orderBy: sortContent" >


      <!-- Instagram -->

        <iframe ng-if="item.link" src="{{item.link | instagramEmbedUrl}}" width="400" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>

      <!-- twitter -->

        <li ng-if="item.user.screen_name" class="posts"><blockquote><p><a href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id_str
        }}">{{ item.text }}</a></p>
        {{ item.created_at | date : "MM-dd-yyyy" }}</blockquote></li>

      <!-- Youtube -->

        <iframe ng-if="item.snippet.publishedAt" width="420" height="345" ng-src="{{ item | youtubeEmbedUrl }}"></iframe>

      <!-- facebook -->

      <div ng-if="item.created_time" class="fb-li"><blockquote class="fb-block">
        <img class="fb-prof" src={{item.profUrl}} />
        <span class="fb-name">{{item.from.name}} posted</span>
        <span class="fb-time">{{item.created_time | date : "MM-dd-yyyy"}}</span>
        <div>
          <img class="fb-fullPic" src="{{item.full_picture}}"/>
          <div class="fb-fullPic" id="vidDiv" ng-if="item.source">
            <video ng-src="{{ item.source | trustUrl }}" width="400" height="224" controls></video>
          </div>
          <div class="fb-message">{{item.message}}</div>
        </div>
      </blockquote></div>
      </span>
</div>
