
<div ng-class="{'login-box': content.length === 0}">
      <h1 ng-show="content.length === 0">NO MEDIA, ADD MORE!!!</h1>

      <button ng-click="sortRandom()" ng-show="content.length > 0" type="button" class="btn btn-primary">
      	Shuffle
      </button>

      <button ng-click="delete()" ng-show="content.length > 0" type="button" class="btn btn-primary">
            Delete
      </button>
</div>



	<div class="mixedFeed" ng-init ="getFeeds()">
		<span class="column" ng-repeat="item in part1 | orderBy: sortContent">
				<iframe ng-if="item.link" src="{{item.link | instagramEmbedUrl}}" width="30%" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
		    <span ng-if="item.user.screen_name" class="posts"><blockquote><p><a href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id_str
		    }}">{{ item.text }}</a></p>
		    {{ item.created_at | date : "MM-dd-yyyy" }}</blockquote></span>

		    <iframe ng-if="item.snippet.publishedAt" width="30%" height="345" ng-src="{{ item | youtubeEmbedUrl }}"></iframe>
				<span ng-if="item.epoch" class="fb-li"><blockquote class="fb-block">
	        <img class="fb-prof" src={{item.profUrl}} />
	        <span class="fb-name">{{item.from.name}} posted</span>
	        <span class="fb-time">{{item.created_time | date : "MM-dd-yyyy"}}</span>
	        <div>
	          <img class="fb-fullPic" src="{{item.full_picture}}"/>
	          <div class="fb-fullPic" id="vidDiv" ng-if="item.source">
	            <video ng-src="{{ item.source | trustUrl }}" width="400" height="224" controls></video>
	          </div>
	          <div class="fb-message">{{item.message}}</div>
	        </div>
	      </blockquote></span>
		</span>

		<span class="column" ng-repeat="item in part2 | orderBy: sortContent">
				<iframe ng-if="item.link" src="{{item.link | instagramEmbedUrl}}" width="30%" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
		    <span ng-if="item.user.screen_name" class="posts"><blockquote><p><a href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id_str
		    }}">{{ item.text }}</a></p>
		    {{ item.created_at | date : "MM-dd-yyyy" }}</blockquote></span>
		    <iframe  ng-if="item.snippet.publishedAt" width=30% height="345" ng-src="{{ item | youtubeEmbedUrl }}"></iframe>
				<span ng-if="item.epoch" class="fb-li"><blockquote class="fb-block">
	        <img class="fb-prof" src={{item.profUrl}} />
	        <span class="fb-name">{{item.from.name}} posted</span>
	        <span class="fb-time">{{item.created_time | date : "MM-dd-yyyy"}}</span>
	        <div>
	          <img class="fb-fullPic" src="{{item.full_picture}}"/>
	          <div class="fb-fullPic" id="vidDiv" ng-if="item.source">
	            <video ng-src="{{ item.source | trustUrl }}" width="400" height="224" controls></video>
	          </div>
	          <div class="fb-message">{{item.message}}</div>
	        </div>
	      </blockquote></span>
		</span>
		<span class="column" ng-repeat="item in part3 | orderBy: sortContent">
				<iframe ng-if="item.link" src="{{item.link | instagramEmbedUrl}}" width="30%" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
				<span ng-if="item.user.screen_name" class="posts"><blockquote><p><a href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id_str
				}}">{{ item.text }}</a></p>
				{{ item.created_at | date : "MM-dd-yyyy" }}</blockquote></span>
				<iframe ng-if="item.snippet.publishedAt" width=30% ng-src="{{ item | youtubeEmbedUrl }}"></iframe>
				<span ng-if="item.epoch" class="fb-li"><blockquote class="fb-block">
	        <img class="fb-prof" src={{item.profUrl}} />
	        <span class="fb-name">{{item.from.name}} posted</span>
	        <span class="fb-time">{{item.created_time | date : "MM-dd-yyyy"}}</span>
	        <div>
	          <img class="fb-fullPic" src="{{item.full_picture}}"/>
	          <div class="fb-fullPic" id="vidDiv" ng-if="item.source">
	            <video ng-src="{{ item.source | trustUrl }}" width="400" height="224" controls></video>
	          </div>
	          <div class="fb-message">{{item.message}}</div>
	        </div>
	      </blockquote></span>
		</span>
	</div>
