
<span align="center" ng-init="twitterFeed()">

  <span class="login-box" ng-show="tweets.length === 0" ng-click="authTwitter()">
    <a class="btn btn-social btn-lg btn-twitter">
  		<span class="fa fa-twitter"></span>Sign in with Twitter
		</a>
  </span>

<span align="center" ng-init="twitterFeed()">
  <div class="postFeed">
    <ul class="feedList" ng-repeat="tweet in tweets">
    <div>
    <a class="twitter-grid" href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">National Park Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
      <li class="posts"><blockquote class="twitter-og"><p width=400><a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str
  }}">{{ tweet.text }}</a></p>
      {{ tweet.created_at | date : "MM-dd-yyyy" }}</blockquote></li>
    </ul>
  </div>
</span>
