<span align="center" ng-init="twitterFeed()">

  <span ng-show="tweets.length === 0" ng-click="authTwitter()">
    <img src="../../style/twitlogin.png" width=150px height="auto">
  </span>
  <div class="postFeed">
  <ul class="feedList" ng-repeat="tweet in tweets">
    <li class="posts"><blockquote><p><a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str
}}">{{ tweet.text }}</a></p>
    {{ tweet.created_at | date : "MM-dd-yyyy" }}</blockquote></li>
  </ul>
  </div>
</span>
